<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container">
    <h1>Автор</h1>
    <p>
        Данный генератор паролей является продуктом классной работы
        группы "Python 123" под руководством преподавателя Козякина Елена
    </p>
    <h2>Работа генератора</h2>
    <div>
        <p>Для получения случайного пароля</p>
        <ul>
            <li>Выберите длину пароля в поле "Количество символов" </li>
            <li>Выберите разрешённые символы пароля</li>
            <li>Что бы получить результат кликнете кнопку "Сгенерировать пароль"</li>
            <li>При переходе по ссылке "показать результат" вы получите пароль с
                настройками по умолчанию</li>
        </ul>
    </div>
    <p><a href="{% url 'home' %}">Перейти на главную</a> </p>
    <p><a href="{% url 'password' %}">показать результат</a> </p>
</div>
</body>
</html>